@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(255, 255, 255);
  height: 100vh;
}

.ql-editor {
  font-size: 1.05rem;
}
/* .ql-clipboard {
  left: -100000px;
  height: 1px;
  overflow-y: hidden;
  position: absolute;
  top: 50%;
  white-space: pre-wrap;
  word-wrap: break-word;
} */
.post-content p{
  margin-bottom: 0.5rem;
}

.post-content h1{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: serif;
  margin: 1.5rem 0;
}

.post-content h2{
  font-size: 1.4rem;
  font-family: serif;
  margin: 1.5rem 0;
}

.post-content a{
  color: rgb(73, 149, 199);
  text-decoration: none;

}

.post-content a:hover{
  text-decoration: underline;
}

